.content {
	display: flex;
	flex-direction: column;
	justify-content:center;
	/* margin-top: 128rpx; */
}

/* 头部 logo */
.headback{
	background-size: cover;
	background-image: url(/static/images/register/head3.jpeg);
}
.header {
	width:155rpx;
	height:288rpx;
	border-radius:50%;
	background-color: #88888; 
	margin-top: 72rpx;
	margin-bottom: 72rpx;
	margin-left: auto;
	margin-right: auto;
}
.header image{
	width:155rpx;
	height:155rpx;
}

/* 主体 */
.main {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	padding-left: 70rpx;
	padding-right: 70rpx;
}
.tips {
	color: #999999;
	font-size: 28rpx;
	margin-top: 64rpx;
	margin-left: 48rpx;
}
.line1{
	display:flex;
	justify-content:center;
}
.icon1{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.icon1 image{
	
	height: 37px;
	width: 30px;
}
.input1{
	width: 500px;
}
/* 登录按钮 */
.wbutton{
	margin-top: 96rpx;

}

/* 其他登录方式 */
.other_login{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 220rpx;
	text-align: center;
	margin-bottom:36rpx ;
}
.login_icon{
	border: none;
	font-size: 64rpx;
	margin: 0 64rpx 0 64rpx;
	color: rgba(0,0,0,0.7)
}
.wechat_color{
	color: #83DC42;
}
.weibo_color{
	color: #F9221D;
}
.github_color{
	color: #24292E;
}

/* 底部 */
.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 28rpx;
	margin-top: 64rpx;
	color: rgba(0,0,0,0.7);
	text-align: center;
	height: 40rpx;
	line-height: 40rpx;
}
.footer text{
	font-size: 24rpx;
	margin-left: 15rpx;
	margin-right: 15rpx;
}